*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background-color: #1e2028;
}
.contantmainbutton{
    display: flex;
    justify-content: center;
    align-items: center;

}
.contantbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 400px;
   height: 400px;
   margin-top: 10rem;
   background-color: #fff;
   padding: 2rem;
   border-radius: 2rem;
   text-align: center;
}
.contantbutton:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 5);
}
.contantbutton button{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(225, 229, 15);
    width: 150px;
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

